<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <main-header></main-header>
       
        <search-block>
            <input id="search-input" type="text" v-model="search">
            <button id="search-btn" v-on:click="filter">Поиск</button>
            <button id="basket-btn-on" v-on:click="showBasket">Открыть корзину</button>
        </search-block>
        <goods-block>
            <showcase-block>
                <goods  v-for="item in filteredListNew" v-bind:item='item'>
                </goods>
            </showcase-block>
            <cart-block v-if="basketVision">
                <basket-goods  v-for="item in buyedItems" v-bind:item='item'> 
                </basket-goods>
                <template v-slot:button-basket-close>
                    <button id="basket-btn-off" v-on:click="closeBasket">Закрыть корзину</button>
                  </template>
            </cart-block>
        </goods-block>
        <footer-block></footer-block>
    </div>   
</body>
</html>